{%load static%}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel ="stylesheet" href = "{% static 'style.css' %}">
        {% comment %} <link rel="stylesheet" href="{% static "first_app/style.css" %}" > {% endcomment %}

        <title>Document</title>
    </head>
    <body>
        <h1>
            homepage
        </h1>
        <h2>
            <a href = "{%url 'first_app:example'%}">
                Exapmle
        </h2>
        <h2>
            <a href = "{%url 'first_app:test'%}">
                Test
        </h2>
        <h2>
            <a href = "{%url 'first_app:img_test'%}">
            Test IMG
        </h2>
        <h2>
            <a href = "{%url 'office:list_patients'%}">
            Test DB
        </h2>
        <h2>
            <a href = "{%url 'car:Review'%}">
            Review
        </h2>        
        <h2>
            <a href = "{%url 'first_app:class_based'%}">
            check class based
        </h2> 
    </body>
    </html>